body {
    font-family: "poppins", sans-serif;
    background-color: black;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
header {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
}
.logo {
    font-size: 25px;
    color: #3b58a6;
    text-decoration: none;
}
nav {
    font-size: 15px;
    display: flex;
    gap: 40px;
}
a {
    color: white;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    padding-bottom: 2px;
}
p {
    font-size: 15px;
}
nav a:hover {
    color: #3b58a6;
    padding-bottom: 3px;
    font-weight: 700;
    border-bottom: 2px #3b58a6 solid;
}
span {
    cursor: pointer;
}
h1 {
    font-size: 40px;
    margin: 0;
}
h3 {
    margin: 0;
    font-size: 30px;
}
img {
    border-radius: 50%;
    height: 350px;
    width: 761px;
    box-shadow: 0 0 50px rgb(0, 104, 169);
    margin-right: 17px;
}
section {
    position: absolute;
    top: 226%;

    display: flex;
    align-items: center;
    color: white;
}
span {
    font-weight: 800;
    color: #3b58a6;
}
ul {
    padding: 0;
}
ul li {
    display: block;
    margin: 10px 0px;
    list-style-type: none;
}
i {
    color: #3b58a6;
}
.social-icon {
    margin-top: 20px;
    font-size: 25px;
}
.social-icon a {
    width: 20px;
    height: 20px;
    padding: 10px;
    margin: 0px;
}
.social-icon a:hover {
    color: #3b58a6;
    font-weight: 700;
    border-bottom: 2px #3b58a6 solid;
}
#name {
    font-weight: 600;
}
#title {
    font-weight: 600;
}
#hear {
    display: inline-block;
    padding: 12px 20px;

    margin-top: 30px;
    color: #3b58a6;
    font-size: 20px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}
#hear:hover {
    background: linear-gradient(to top right, #3b58a6 20%, black);
    color: #000;
    border-radius: 30px;
}

/* ====================================================================== */
@media (max-width: 578px) {
    img {
        width: 50%;
        height: 50%;
        margin-top: 20px;
    }
    header {
        display: flex;
        justify-content: space-around;
        /* margin-top: 20px; */
        align-items: baseline;
    }

    .logo {
        font-size: 20px;
        color: rgb(0, 104, 169);
        text-decoration: none;
    }
    nav {
        font-size: 15px;
        display: flex;
        gap: 16px;
    }
    nav a {
        color: white;
        text-decoration: none;
        transition: 0.3s;
        padding-bottom: 3px;
    }
    a:hover {
        color: rgb(0, 104, 169);
        padding-bottom: 3px;
        font-weight: 700;
        border-bottom: 2px rgb(0, 104, 169) solid;
    }
    section {
        padding: 10px;
        display: flex;
        flex-direction: column;
        /* justify-items: center; */
        /* align-items: center; */
        color: white;
    }
    main {
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        height: 500px;
    }
    h1 {
        padding-top: 7px;
        font-size: 25px;
        margin-top: 30px;
    }
    h3 {
        margin-top: 10px;
        font-size: 23px;
    }
    p {
        margin-top: 20px;
        font-size: 16px;
    }
    span {
        font-weight: 800;
        cursor: pointer;
        color: rgb(0, 104, 169);
    }
    ul {
        margin: 0;
        color: rgb(0, 104, 169);
    }

    .description {
        font-size: 13px;
        color: white;
    }
    i {
        color: rgb(0, 104, 169);
    }
    .social-icon {
        text-align: center;
        margin-top: 25px;
        font-size: 25px;
    }
    .social-icon a {
        width: 10px;
        height: 10px;
        padding: 10px;
    }
    #name {
        font-weight: 600;
    }
    #title {
        font-weight: 600;
    }
    .link-call {
        text-align: center;
        /* margin-left: -30px; */
    }

    #hear {
        display: inline-block;
        margin-top: 20px;
        color: rgb(0, 104, 169);
        font-size: 20px;
        /* margin-left: 40%; */
        padding: 10px 15px;
    }
    #hear:hover {
        background-color: rgb(0, 104, 169);
        color: black;
        border-radius: 50px;
    }
}
/* ============================================================= */
@media (min-width: 579px) and (max-width: 987px) {
    header {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        align-items: center;
    }
    .logo {
        font-size: 25px;
        color: rgb(0, 104, 169);
        text-decoration: none;
    }
    nav {
        font-size: 15px;
        display: flex;
        gap: 40px;
    }
    a {
        color: white;
        text-decoration: none;
        transition: 0.3s;
        padding-bottom: 3px;
    }
    p {
        font-size: 15px;
    }
    a:hover {
        color: rgb(0, 104, 169);
        padding-bottom: 3px;
        font-weight: 700;
        border-bottom: 2px rgb(0, 104, 169) solid;
    }
    span {
        cursor: pointer;
    }
    h1 {
        font-size: 40px;
        margin: 0;
    }
    h3 {
        margin: 0;
        font-size: 30px;
    }
    img {
        width: 35%;
        border-radius: 100%;
    }
    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        color: white;
    }
    span {
        font-weight: 800;
        color: rgb(0, 104, 169);
    }
    i {
        color: rgb(0, 104, 169);
    }
    .social-icon {
        display: flex;
        justify-content: center;
        margin-top: 50px;

        font-size: 30px;
    }
    .social-icon a {
        width: 25px;
        height: 30px;
        padding: 10px;
    }

    #name {
        font-weight: 600;
    }
    #title {
        font-weight: 600;
    }

    .hear {
        display: flex;
        justify-content: center;
        font-size: 50px;
    }
    #hear {
        margin-top: 50px;
        display: inline-block;
        color: rgb(0, 104, 169);
        font-size: 20px;
    }
    #hear:hover {
        background-color: rgb(0, 104, 169);
        color: black;
        border-radius: 30px;
        padding: 10px 15px;
    }
}
